/* For Sigh in form */

body{
	background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url('background.JPG');
	height: 90vh;
	background-size: cover;
	background-position: center;
}

.logon-form{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}

.form{
	position: relative;
	text-align: center;
	background: rgba(7, 20, 50, 0.8);
	margin: auto;
	max-width: 250px;
	padding: 25px;
	z-index: 1;
	margin-top: 150px;
}

.form input{
	font-family: "Roboto", sans-serif;
	outline: 5;
	background: #f2f2f2;
	width: 250px;
	border: 3;
	margin: 0 0 8px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 16px;
}

.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    margin: auto ;
    background: #4CAF50;
    width: 250px;
    border: 4;
    padding: 8px;
    color: blueviolet;
    font-size: 12px;
    cursor: pointer;
    left: auto;
    right: auto;
}

.form button: hover,.form button: active{
    background: #43A047;
}

.form .message{
    padding: 10px;
    margin: 1px;
    color: aliceblue;
    font-size: 15px;
}

.form .message a{
    color: #4CAF50;
    text-decoration: none;
    
}

.form .register-form{
    display: none;
}
























